<!DOCTYPE HTML>
<!--
BY EIRE_Dev | Website:https://minecog.com | Discord:https://discordapp.com/invite/tdVBxzq
-->
<html>

<head>
	<!--
	Replace Fresh With your server name
	-->
	<title>Epicgamertime</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="main.css" />
	<script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
	<script src="https://momentjs.com/downloads/moment.min.js"></script>
	<script src="https://ujafedny.org/assets/bower_components/moment/locale/en_us.js"></script>
	<!-- Your preferred locale instead of * -->
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.12.0/css/all.css">
	
</head>

<body class="landing">

	<!-- Page Wrapper -->
	<div id="page-wrapper">

		<!-- Header -->
		<header id="header" class="alt">
			<h1><a href="index.html">Epicgamertime</a></h1>
			<nav id="nav">
				<ul>
					<li class="special">
						<a href="#menu" class="menuToggle"><span>Menu</span></a>
						<div id="menu">
							<ul>
								<!-- Links | link 2, 4 and link 8 will open in a new tab change this by adding or removing the: target="_blank" -->
								<li><a href="index.html">Home</a></li>
								<li><a href="#" target="_blank">Forums</a></li>
								<li><a href="vote.html">Vote</a></li>
								<li><a href="https://discordapp.com/invite/tdVBxzq" target="_blank">Discord</a></li>
								<li><a href="#">Bans</a></li>
								<li><a href="#">link 5</a></li>
								<li><a href="#">Link 6</a></li>
								<li><a href="" target="_blank">Link 8</a></li>
							</ul>
						</div>
					</li>
				</ul>
			</nav>
		</header>

		<!-- Banner -->
		<section id="banner">
			<div class="inner">
				<h2>Epicgamertime</h2>
				<p>The best minecraft server<br /></p>
				<ul class="actions">
					<!-- Replace play.minecog.com with your own server ip -->
					<li><a href="#" onclick="window.prompt('Server IP:', text);"
							class="button special big">mc.epicgamertime.com</a></li>
				</ul>
				<ul class="actions">
					<li>
						<div class="label">Online: </div>
						<div id="online"></div>
					</li>
					<li>
						<div class="label">Version: </div>
						<div id="version"></div>
					</li>
					<li>
						<div class="label">MOTD: </div>
						<div hidden id="motd" class="minecraft" style="max-width: 3em; overflow: scroll; white-space: nowrap;"></div>
						<div id="motd preview" class="minecraft"></div>
					</li>
					<li>
						<div class="label">Players: </div>
						<div id="numplayers"></div>
					</li>
					<li>
						<div class="label">Last Update: </div>
						<div id="updated"></div>
					</li>
					<li id="refresh" style="cursor: pointer;">
						<i class="fas fa-sync"></i>
					</li>
				
				</ul>
				
					
				
				
				<a href="/on" class="button"><%= server %></a>
				<p><%= time %></p>
			</div>
			
		</section>

		<!-- One -->
		<section id="one" class="wrapper style1 special">
			<div class="inner">
				<header class="major">
					<h2>An amazing experience</h2>
					<p>Venture across our vast custom world and slay hordes of evil monsters and players.<br />
						Build your own house Destroy and loot enemy bases<br />
						Conquer the map!</p>
				</header>
				<ul class="icons major">
					<li><span class="icon fas fa-gamepad major style1"><span class="label">Trophy</span></span></li>
					<li><span class="icon fas fa-gamepad major style2"><span class="label">Trophy</span></span></li>
					<li><span class="icon fas fa-gamepad major style3"><span class="label">Trophy</span></span></li>
				</ul>
			</div>
		</section>

		<!-- Two -->
		<section id="two" class="wrapper alt style2">
			<section class="spotlight">
				<div class="image"><img name="main" id="main" border="0" width="640" height="480" src="http://mc.epicgamertime.com:8081"></div>
				<div class="content">
					<h2>The server</h2>
					<p>This is the <strong>server</strong> you are playing on</p>
					<p></p>
					<p></p>
					<div class="w3-container">
						<h1>RGB Color</h1>
						<div class="w3-cell-row">
						<div class="w3-container w3-cell w3-mobile">
						<p><input type="range" min="0" max="255" value="0" class="slider" id="redSlider"></p>
						<p><input type="range" min="0" max="255" value="0" class="slider" id="greenSlider"></p>
						<p><input type="range" min="0" max="255" value="0" class="slider" id="blueSlider"></p>
						</div>
						<div class="w3-container w3-cell w3-mobile" style="background-color:black" id="colorShow">
						<div></div>
						</div>
						</div>
						<p>Or pick a color: <input type="color" id="pickColor"></p>
						</div>
						<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
						<script src="https://www.w3schools.com/lib/w3color.js"></script>
						<script>
						var socket = io(); //load socket.io-client and connect to the host that serves the page
						var rgb = w3color("rgb(0,0,0)"); //we use the w3color.js library to keep the color as an object
						window.addEventListener("load", function(){ //when page loads
						  var rSlider = document.getElementById("redSlider");
						  var gSlider = document.getElementById("greenSlider");
						  var bSlider = document.getElementById("blueSlider");
						  var picker = document.getElementById("pickColor");
						
						  rSlider.addEventListener("change", function() { //add event listener for when red slider changes
							rgb.red = this.value; //update the RED color according to the slider
							colorShow.style.backgroundColor = rgb.toRgbString(); //update the "Current color"
							socket.emit("rgbLed", rgb); //send the updated color to RGB LED via WebSocket
						  });
						  gSlider.addEventListener("change", function() { //add event listener for when green slider changes
							rgb.green = this.value; //update the GREEN color according to the slider
							colorShow.style.backgroundColor = rgb.toRgbString(); //update the "Current color"
							socket.emit("rgbLed", rgb); //send the updated color to RGB LED via WebSocket
						  });
						  bSlider.addEventListener("change", function() { //add event listener for when blue slider changes
							rgb.blue = this.value;  //update the BLUE color according to the slider
							colorShow.style.backgroundColor = rgb.toRgbString(); //update the "Current color"
							socket.emit("rgbLed", rgb); //send the updated color to RGB LED via WebSocket
						  });
						  picker.addEventListener("input", function() { //add event listener for when colorpicker changes
							rgb.red = w3color(this.value).red; //Update the RED color according to the picker
							rgb.green = w3color(this.value).green; //Update the GREEN color according to the picker
							rgb.blue = w3color(this.value).blue; //Update the BLUE color according to the picker
							colorShow.style.backgroundColor = rgb.toRgbString();  //update the "Current color"
							rSlider.value = rgb.red;  //Update the RED slider position according to the picker
							gSlider.value = rgb.green;  //Update the GREEN slider position according to the picker
							bSlider.value = rgb.blue;  //Update the BLUE slider position according to the picker
						   socket.emit("rgbLed", rgb);  //send the updated color to RGB LED via WebSocket
						  });
						});
						</script>
				</div>
			</section>
			<section class="spotlight">
				<div class="image"><img src="https://minecog.com/web/images/2.png" alt="" /></div>
				<div class="content">
					<h3>Custom Terrain</h3>
					<p>Fresh's world was designed from scratch for the server. Explore new custom biomes but be advised
						malicious creatures may be lurking.</p>
				</div>
			</section>
			
			<section class="spotlight">
				<div class="image"><img src="https://minecog.com/web/images/1.jpg" alt="" /></div>
				<div class="content">
					<h2>Incredible Items</h2>
					<p>Defeat monsters to loot their randomly generated items, buy scrolls and potions from shops, and
						collect the equipment of legends from dungeons and bosses as you delve into Fresh's extensive
						custom lore.</p>
				</div>
			</section>
		</section>

		<!-- Three -->
		<section id="three" class="wrapper style3 special">
			<div class="inner">
				<header class="major">
					<h2>More of Fresh's Awesomeness</h2>
					<p>A small taste of the fun that awaits.</p>
				</header>
				<ul class="features">
					<li class="icon fa-bolt">
						<h3>Arm UP</h3>
						<p>Slay your enemies with our Custom Spells and Wepons</p>
					</li>
					<li class="icon fa-tree">
						<h3>Custom Terrain</h3>
						<p>Epicgamertime's world was designed from scratch for the server. Explore new custom biomes but be
							advised malicious creatures may be lurking.</p>
					</li>
					<li class="icon fa-users">
						<h3>Cool Community</h3>
						<p>Make new friends as you join factions and team up with truces and allies, Join our <a
								href="https://discord.gg/uzaAzMU">Discord</a> and talk with the comunity and
							staff.</p>
					</li>
					<li class="icon fa-bomb">
						<h3>Raid</h3>
						<p><strong>Split</strong>Your enemies bases with our custom tnt and Creepers</p>
					</li>
				</ul>
			</div>
		</section>

		<!-- Replace play.minecog.com with your own server ip -->
		<section id="one" class="wrapper style6 special">
			<div class="inner">
				<header class="major">
					<h2>What are you waiting for?</h2>
					<p>Join Our server today!</p>
					<a href="#" onclick="window.prompt('Server IP:', text);"
						class="button special big">mc.epicgamertime.com</a>
				</header>
			</div>
		</section>

		<!-- Footer -->
		<footer id="footer">
			<ul class="copyright">
				<a href="https://minecog.com">&copy;EIRE_Dev</a>
			</ul>
		</footer>

	</div>

	<!-- Scripts -->
	<script src="https://minecog.com/web/fresh/js/jquery.min.js"></script>
	<script src="https://minecog.com/web/fresh/js/jquery.scrollex.min.js"></script>
	<script src="https://minecog.com/web/fresh/js/jquery.scrolly.min.js"></script>
	<script src="https://minecog.com/web/fresh/js/skel.min.js"></script>
	<script src="https://minecog.com/web/fresh/js/util.js"></script>
	<script src="https://minecog.com/web/fresh/js/main.js"></script>
	<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
	<script>
		var rq1 = 'https://mcapi.us/server/status?ip=mc.epicgamertime.com';
		var rq = 'https://api.mcsrvstat.us/2/mc.epicgamertime.com'
		// <---- Your Minecraft server IP here; add &port=<port> if you are using a different port
		var error = 'unknown';				// of 25565. For instance: https://mcapi.us/server/status?ip=s.nerd.nu&port=25565 
		var classes = {					// more info in https://mcapi.us/
			error: "fas fa-question",
			false: "fas fa-times",
			true: "fas fa-check",
		};
		var allclasses = "";
		for (i in classes) {
			allclasses += ' ' + classes[i];
		};
		function q(addr, cb) {
			$.ajax({
				url: rq,
				type: 'GET',
				dataType: 'json',
				data: { ip: addr, players: true },
			})
				.done(function (data) {
					console.log("success");
					console.log(data);
					cb(data);
				})
				.fail(function (data) {
					console.log("error");
				})
				.always(function () {
				});
		}
		function setclass(o, c) {
			o.removeClass(allclasses);
			o.addClass(classes[c]);
			o.html('');
		}
		function settext(o, t) {
			o.removeClass(allclasses);
			o.html(t);
		}
		function display(data) {
			var np = $('#numplayers'),
				version = $('#version'),
				online = $('#online'),
				motd = $('#motd'),
				updated = $('#updated'),
				d = new Date(data.last_updated * 1000);
			moment.locale('en_us');				// The locale which you have used before.
			//settext(updated, moment(d).fromNow());
			
			if (data.online) {
				settext(online, data.online);
				settext(np, data.players.online + '/' + data.players.max);
				settext(version, data.version);
				settext(motd, data.motd.html);
			}
			 else {
				settext(online, data.online);
				settext(np, "0");
				settext(version, "n/a");
				settext(motd, "n/a");
			}
			
		}
		$(document).ready(function () {
			q('//lentium.xyz', display);
			
		});
		$('#refresh').click(function () {
			q('//lentium.xyz', display);
			$( this ).addClass( 'fa-spin' );
    		var $el = $(this);
    		setTimeout(function() { $el.removeClass( 'fa-spin' ); }, 1000);
    		startup();
		});
		
	</script>

</body>

</html>