<!DOCTYPE HTML>
<!--
BY EIRE_Dev | Website:https://minecog.com | Discord:https://discordapp.com/invite/tdVBxzq
-->
<html>

<head>
	<!--
	Replace Fresh With your server name
	-->
	<title>Epicgamertime</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="main.css" />
	<script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
	<script src="https://momentjs.com/downloads/moment.min.js"></script>
	<script src="https://ujafedny.org/assets/bower_components/moment/locale/en_us.js"></script>
	<!-- Your preferred locale instead of * -->
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.12.0/css/all.css"></head>

<body class="landing">

	<!-- Page Wrapper -->
	<div id="page-wrapper">

		<!-- Header -->
		<header id="header" class="alt">
			<h1><a href="index.html">Epicgamertime</a></h1>
			<nav id="nav">
				<ul>
					<li class="special">
						<a href="#menu" class="menuToggle"><span>Menu</span></a>
						<div id="menu">
							<ul>
								<!-- Links | link 2, 4 and link 8 will open in a new tab change this by adding or removing the: target="_blank" -->
								<li><a href="index.html">Home</a></li>
								<li><a href="#" target="_blank">Forums</a></li>
								<li><a href="vote.html">Vote</a></li>
								<li><a href="https://discordapp.com/invite/tdVBxzq" target="_blank">Discord</a></li>
								<li><a href="#">Bans</a></li>
								<li><a href="#">link 5</a></li>
								<li><a href="#">Link 6</a></li>
								<li><a href="" target="_blank">Link 8</a></li>
							</ul>
						</div>
					</li>
				</ul>
			</nav>
		</header>

		<!-- Banner -->
		<section id="banner">
			<div class="inner">
				<h2>Epicgamertime</h2>
				<p>The best minecraft server<br /></p>
				<ul class="actions">
					<!-- Replace play.minecog.com with your own server ip -->
					<li><a href="#" onclick="window.prompt('Server IP:', text);"
							class="button special big">mc.epicgamertime.com</a></li>
				</ul>
				<ul class="actions">
					<li>
						<div class="label">Online: </div>
						<div id="online"></div>
					</li>
					<li>
						<div class="label">Version: </div>
						<div id="version"></div>
					</li>
					<li>
						<div class="label">MOTD: </div>
						<div id="motd"></div>
					</li>
					<li>
						<div class="label">Players: </div>
						<div id="numplayers"></div>
					</li>
					<li>
						<div class="label">Last Update: </div>
						<div id="updated"></div>
					</li>
					<li id="refresh" style="cursor: pointer;">
						<i class="fas fa-sync"></i>
					</li>
				
				</ul>
				
					
				
				
				<a href="/on" class="button"><%= server %></a>
				<p><%= time %></p>
			</div>
			
		</section>

		<!-- One -->
		<section id="one" class="wrapper style1 special">
			<div class="inner">
				<header class="major">
					<h2>An amazing experience</h2>
					<p>Venture across our vast custom world and slay hordes of evil monsters and players.<br />
						Build your own house Destroy and loot enemy bases<br />
						Conquer the map!</p>
				</header>
				<ul class="icons major">
					<li><span class="icon fas fa-gamepad major style1"><span class="label">Trophy</span></span></li>
					<li><span class="icon fas fa-gamepad major style2"><span class="label">Trophy</span></span></li>
					<li><span class="icon fas fa-gamepad major style3"><span class="label">Trophy</span></span></li>
				</ul>
			</div>
		</section>

		<!-- Two -->
		<section id="two" class="wrapper alt style2">
			<section class="spotlight">
				<div class="image"><img src="https://minecog.com/web/images/1.jpg" alt="" /></div>
				<div class="content">
					<h2>Incredible Items</h2>
					<p>Defeat monsters to loot their randomly generated items, buy scrolls and potions from shops, and
						collect the equipment of legends from dungeons and bosses as you delve into Fresh's extensive
						custom lore.</p>
				</div>
			</section>
			<section class="spotlight">
				<div class="image"><img src="https://minecog.com/web/images/2.png" alt="" /></div>
				<div class="content">
					<h3>Custom Terrain</h3>
					<p>Fresh's world was designed from scratch for the server. Explore new custom biomes but be advised
						malicious creatures may be lurking.</p>
				</div>
			</section>
			<section class="spotlight">
				<div class="image"><img src="https://minecog.com/web/images/3.jpg" alt="" /></div>
				<div class="content">
					<h2>Description 3</h2>
					<p>Description 2 Example Text Paragraph 1 With <strong>Bold Text</strong></p>
					<p>Description 2 Example Text Paragraph 2</p>
					<p>Description 2 Example Text Paragraph 3</p>
				</div>
			</section>
		</section>

		<!-- Three -->
		<section id="three" class="wrapper style3 special">
			<div class="inner">
				<header class="major">
					<h2>More of Fresh's Awesomeness</h2>
					<p>A small taste of the fun that awaits.</p>
				</header>
				<ul class="features">
					<li class="icon fa-bolt">
						<h3>Arm UP</h3>
						<p>Slay your enemies with our Custom Spells and Wepons</p>
					</li>
					<li class="icon fa-tree">
						<h3>Custom Terrain</h3>
						<p>Epicgamertime's world was designed from scratch for the server. Explore new custom biomes but be
							advised malicious creatures may be lurking.</p>
					</li>
					<li class="icon fa-users">
						<h3>Cool Community</h3>
						<p>Make new friends as you join factions and team up with truces and allies, Join our <a
								href="https://discord.gg/uzaAzMU">Discord</a> and talk with the comunity and
							staff.</p>
					</li>
					<li class="icon fa-bomb">
						<h3>Raid</h3>
						<p><strong>Split</strong>Your enemies bases with our custom tnt and Creepers</p>
					</li>
				</ul>
			</div>
		</section>

		<!-- Replace play.minecog.com with your own server ip -->
		<section id="one" class="wrapper style6 special">
			<div class="inner">
				<header class="major">
					<h2>What are you waiting for?</h2>
					<p>Join Our server today!</p>
					<a href="#" onclick="window.prompt('Server IP:', text);"
						class="button special big">mc.epicgamertime.com</a>
				</header>
			</div>
		</section>

		<!-- Footer -->
		<footer id="footer">
			<ul class="copyright">
				<a href="https://minecog.com">&copy;EIRE_Dev</a>
			</ul>
		</footer>

	</div>

	<!-- Scripts -->
	<script src="https://minecog.com/web/fresh/js/jquery.min.js"></script>
	<script src="https://minecog.com/web/fresh/js/jquery.scrollex.min.js"></script>
	<script src="https://minecog.com/web/fresh/js/jquery.scrolly.min.js"></script>
	<script src="https://minecog.com/web/fresh/js/skel.min.js"></script>
	<script src="https://minecog.com/web/fresh/js/util.js"></script>
	<script src="https://minecog.com/web/fresh/js/main.js"></script>
	<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
	<script>
		var rq = 'https://mcapi.us/server/status?ip=mc.epicgamertime.com';  	// <---- Your Minecraft server IP here; add &port=<port> if you are using a different port
		var error = 'unknown';				// of 25565. For instance: https://mcapi.us/server/status?ip=s.nerd.nu&port=25565 
		var classes = {					// more info in https://mcapi.us/
			error: "fas fa-question",
			false: "fas fa-times",
			true: "fas fa-check",
		};
		var allclasses = "";
		for (i in classes) {
			allclasses += ' ' + classes[i];
		};
		function q(addr, cb) {
			$.ajax({
				url: rq,
				type: 'GET',
				dataType: 'json',
				data: { ip: addr, players: true },
			})
				.done(function (data) {
					console.log("success");
					console.log(data);
					cb(data);
				})
				.fail(function (data) {
					console.log("error");
				})
				.always(function () {
				});
		}
		function setclass(o, c) {
			o.removeClass(allclasses);
			o.addClass(classes[c]);
			o.html('');
		}
		function settext(o, t) {
			o.removeClass(allclasses);
			o.html(t);
		}
		function display(data) {
			var np = $('#numplayers'),
				version = $('#version'),
				online = $('#online'),
				motd = $('#motd'),
				updated = $('#updated'),
				d = new Date(data.last_updated * 1000);
			moment.locale('en_us');				// The locale which you have used before.
			settext(updated, moment(d).fromNow());
			if (data.online) {
				settext(online, data.online);
				settext(np, data.players.now);
				settext(version, data.server.name);
				settext(motd, data.motd);
			} else {
				settext(online, data.online);
				settext(np, "0");
				settext(version, "n/a");
				settext(motd, "n/a");
			}
		}
		$(document).ready(function () {
			q('//lentium.xyz', display);
			
		});
		$('#refresh').click(function () {
			q('//lentium.xyz', display);
		});
		
	</script>

</body>

</html>